In [137]:
import pandas as pd
import numpy as np

In [138]:
sf_permits = pd.read_csv("../dataset/building-permit-applications-data/Building_Permits.csv")

/home/neil/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [139]:
df = sf_permits[['Current Status','Filed Date','Issued Date','Zipcode','Supervisor District','Permit Type']]

In [ ]:
sf_permits

In [144]:
df[df['Filed Date']==df['Issued Date']]

       Current Status  Filed Date Issued Date  Zipcode  Supervisor District
6            complete  06/30/2017  06/30/2017  94122.0                  5.0
7              issued  06/30/2017  06/30/2017  94124.0                 10.0
8              issued  07/05/2017  07/05/2017  94117.0                  5.0
9              issued  07/06/2017  07/06/2017  94117.0                  8.0
10             issued  07/06/2017  07/06/2017  94114.0                  8.0
11             issued  07/07/2017  07/07/2017  94102.0                  5.0
12             issued  07/10/2017  07/10/2017  94114.0                  8.0
14             issued  07/26/2017  07/26/2017  94115.0                  2.0
15             issued  07/27/2017  07/27/2017  94108.0                  3.0
16             issued  07/27/2017  07/27/2017  94104.0                  3.0
17             issued  07/27/2017  07/27/2017  94114.0                  8.0
19             issued  07/28/2017  07/28/2017  94114.0                  8.0
20             issued  07/31/2017  07/31/2017  94117.0                  5.0
23             issued  08/07/2017  08/07/2017  94123.0                  2.0
24             issued  08/08/2017  08/08/2017  94123.0                  2.0
25             issued  08/16/2017  08/16/2017  94122.0                  4.0
26             issued  08/18/2017  08/18/2017  94121.0                  1.0
27             issued  08/21/2017  08/21/2017  94117.0                  5.0
28             issued  08/21/2017  08/21/2017  94122.0                  7.0
29             issued  08/22/2017  08/22/2017  94102.0                  3.0
30             issued  08/23/2017  08/23/2017  94133.0                  3.0
31             issued  08/23/2017  08/23/2017  94114.0                  8.0
32             issued  08/23/2017  08/23/2017  94110.0                  9.0
34             issued  08/25/2017  08/25/2017  94103.0                  8.0
35             issued  08/25/2017  08/25/2017  94115.0                  5.0
36             issued  08/28/2017  08/28/2017  94114.0                  8.0
37             issued  08/29/2017  08/29/2017  94110.0                  8.0
38             issued  08/29/2017  08/29/2017  94121.0                  1.0
39             issued  09/07/2017  09/07/2017  94133.0                  3.0
40             issued  09/08/2017  09/08/2017  94123.0                  2.0
...               ...         ...         ...      ...                  ...
198844         issued  02/23/2018  02/23/2018  94122.0                  4.0
198845         issued  02/23/2018  02/23/2018  94109.0                  3.0
198846         issued  02/23/2018  02/23/2018  94131.0                  8.0
198847         issued  02/23/2018  02/23/2018  94117.0                  5.0
198850         issued  02/23/2018  02/23/2018  94110.0                  8.0
198858         issued  02/23/2018  02/23/2018  94115.0                  2.0
198861         issued  02/23/2018  02/23/2018  94108.0                  3.0
198863         issued  02/23/2018  02/23/2018  94117.0                  5.0
198865         issued  02/23/2018  02/23/2018  94118.0                  2.0
198867         issued  02/23/2018  02/23/2018  94107.0                 10.0
198868         issued  02/23/2018  02/23/2018  94110.0                  9.0
198869         issued  02/23/2018  02/23/2018  94109.0                  2.0
198870         issued  02/23/2018  02/23/2018  94109.0                  2.0
198871         issued  02/23/2018  02/23/2018  94117.0                  5.0
198873         issued  02/23/2018  02/23/2018  94110.0                  9.0
198874         issued  02/23/2018  02/23/2018  94131.0                  8.0
198876         issued  02/23/2018  02/23/2018  94117.0                  5.0
198877         issued  02/23/2018  02/23/2018  94112.0                 11.0
198879         issued  02/23/2018  02/23/2018  94112.0                 11.0
198880         issued  02/23/2018  02/23/2018  94122.0                  7.0
198881         issued  02/23/2018  02/23/2018  94133.0                  3.0
198882         issued  02/23/2018  02/23/2018  94112.0                 11.0
198883         issued  02/23/2018  02/23/2018  94102.0                  3.0
198889       complete  10/24/2017  10/24/2017      NaN                  NaN
198893       complete  12/05/2017  12/05/2017      NaN                  NaN
198894         issued  12/05/2017  12/05/2017      NaN                  NaN
198895         issued  12/05/2017  12/05/2017      NaN                  NaN
198897         issued  12/06/2017  12/06/2017      NaN                  NaN
198898         issued  12/06/2017  12/06/2017      NaN                  NaN
198899         issued  12/07/2017  12/07/2017      NaN                  NaN

[115488 rows x 5 columns]

In [98]:
df_f = df[['Filed Date']]

In [99]:
df_f['Filed Date']

0         05/06/2015
1         04/19/2016
2         05/27/2016
3         11/07/2016
4         11/28/2016
5         06/14/2017
6         06/30/2017
7         06/30/2017
8         07/05/2017
9         07/06/2017
10        07/06/2017
11        07/07/2017
12        07/10/2017
13        07/25/2017
14        07/26/2017
15        07/27/2017
16        07/27/2017
17        07/27/2017
18        07/28/2017
19        07/28/2017
20        07/31/2017
21        08/01/2017
22        08/01/2017
23        08/07/2017
24        08/08/2017
25        08/16/2017
26        08/18/2017
27        08/21/2017
28        08/21/2017
29        08/22/2017
             ...
198870    02/23/2018
198871    02/23/2018
198872    02/23/2018
198873    02/23/2018
198874    02/23/2018
198875    02/23/2018
198876    02/23/2018
198877    02/23/2018
198878    02/23/2018
198879    02/23/2018
198880    02/23/2018
198881    02/23/2018
198882    02/23/2018
198883    02/23/2018
198884    02/23/2018
198885    02/23/2018
198886    09/06/2017
198887    10/04/2017
198888    10/11/2017
198889    10/24/2017
198890    11/27/2017
198891    11/27/2017
198892    12/04/2017
198893    12/05/2017
198894    12/05/2017
198895    12/05/2017
198896    12/05/2017
198897    12/06/2017
198898    12/06/2017
198899    12/07/2017
Name: Filed Date, Length: 198900, dtype: object

In [100]:
df_f['from_date']=pd.to_datetime(df_f['Filed Date'])

/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [101]:
df_f['f_year']=df_f['from_date'].dt.year

/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [102]:
df_f['f_month']=df_f['from_date'].dt.month
df_f['f_day']=df_f['from_date'].dt.day

/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [103]:
#df_f['f_month']

In [104]:
df_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 5 columns):
Filed Date    198900 non-null object
from_date     198900 non-null datetime64[ns]
f_year        198900 non-null int64
f_month       198900 non-null int64
f_day         198900 non-null int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 7.6+ MB

In [105]:
df_f=df_f.drop(columns=['Filed Date','from_date'])

In [106]:
df_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 3 columns):
f_year     198900 non-null int64
f_month    198900 non-null int64
f_day      198900 non-null int64
dtypes: int64(3)
memory usage: 4.6 MB

In [107]:
df=pd.concat([df, df_f], axis=1)

In [108]:
zips = pd.get_dummies( df['Zipcode'] , prefix = 'z' )

In [109]:
df=pd.concat([df, zips], axis=1)
sds = pd.get_dummies( df['Supervisor District'] , prefix = 'sd' )
df=pd.concat([df, sds], axis=1)
df=df.drop(columns=['Zipcode','Supervisor District'])

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 44 columns):
Current Status    198900 non-null object
Filed Date        198900 non-null object
Issued Date       183960 non-null object
f_year            198900 non-null int64
f_month           198900 non-null int64
f_day             198900 non-null int64
z_94102.0         198900 non-null uint8
z_94103.0         198900 non-null uint8
z_94104.0         198900 non-null uint8
z_94105.0         198900 non-null uint8
z_94107.0         198900 non-null uint8
z_94108.0         198900 non-null uint8
z_94109.0         198900 non-null uint8
z_94110.0         198900 non-null uint8
z_94111.0         198900 non-null uint8
z_94112.0         198900 non-null uint8
z_94114.0         198900 non-null uint8
z_94115.0         198900 non-null uint8
z_94116.0         198900 non-null uint8
z_94117.0         198900 non-null uint8
z_94118.0         198900 non-null uint8
z_94121.0         198900 non-null uint8
z_94122.0         198900 non-null uint8
z_94123.0         198900 non-null uint8
z_94124.0         198900 non-null uint8
z_94127.0         198900 non-null uint8
z_94129.0         198900 non-null uint8
z_94130.0         198900 non-null uint8
z_94131.0         198900 non-null uint8
z_94132.0         198900 non-null uint8
z_94133.0         198900 non-null uint8
z_94134.0         198900 non-null uint8
z_94158.0         198900 non-null uint8
sd_1.0            198900 non-null uint8
sd_2.0            198900 non-null uint8
sd_3.0            198900 non-null uint8
sd_4.0            198900 non-null uint8
sd_5.0            198900 non-null uint8
sd_6.0            198900 non-null uint8
sd_7.0            198900 non-null uint8
sd_8.0            198900 non-null uint8
sd_9.0            198900 non-null uint8
sd_10.0           198900 non-null uint8
sd_11.0           198900 non-null uint8
dtypes: int64(3), object(3), uint8(38)
memory usage: 16.3+ MB

In [111]:
df['from_date']=pd.to_datetime(df['Filed Date'])
df['to_date']=pd.to_datetime(df['Issued Date'])
#df['process_time']=df['to_date']-df['from_date']
#df['total_time']=df['process_time'].astype('timedelta64[D]')
#df=df.drop(columns=['process_time'])

df['process_time']=df['to_date']-df['from_date']
df['total_time']=df['process_time'].astype('timedelta64[D]')

df=df.drop(columns=['Filed Date','Issued Date','process_time'])

In [112]:
# import datetime as dt
# df['from_date']=df['from_date'].map(dt.datetime.toordinal)
# df['to_date']=df['to_date'].map(dt.datetime.toordinal)

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 45 columns):
Current Status    198900 non-null object
f_year            198900 non-null int64
f_month           198900 non-null int64
f_day             198900 non-null int64
z_94102.0         198900 non-null uint8
z_94103.0         198900 non-null uint8
z_94104.0         198900 non-null uint8
z_94105.0         198900 non-null uint8
z_94107.0         198900 non-null uint8
z_94108.0         198900 non-null uint8
z_94109.0         198900 non-null uint8
z_94110.0         198900 non-null uint8
z_94111.0         198900 non-null uint8
z_94112.0         198900 non-null uint8
z_94114.0         198900 non-null uint8
z_94115.0         198900 non-null uint8
z_94116.0         198900 non-null uint8
z_94117.0         198900 non-null uint8
z_94118.0         198900 non-null uint8
z_94121.0         198900 non-null uint8
z_94122.0         198900 non-null uint8
z_94123.0         198900 non-null uint8
z_94124.0         198900 non-null uint8
z_94127.0         198900 non-null uint8
z_94129.0         198900 non-null uint8
z_94130.0         198900 non-null uint8
z_94131.0         198900 non-null uint8
z_94132.0         198900 non-null uint8
z_94133.0         198900 non-null uint8
z_94134.0         198900 non-null uint8
z_94158.0         198900 non-null uint8
sd_1.0            198900 non-null uint8
sd_2.0            198900 non-null uint8
sd_3.0            198900 non-null uint8
sd_4.0            198900 non-null uint8
sd_5.0            198900 non-null uint8
sd_6.0            198900 non-null uint8
sd_7.0            198900 non-null uint8
sd_8.0            198900 non-null uint8
sd_9.0            198900 non-null uint8
sd_10.0           198900 non-null uint8
sd_11.0           198900 non-null uint8
from_date         198900 non-null datetime64[ns]
to_date           183960 non-null datetime64[ns]
total_time        183960 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(3), object(1), uint8(38)
memory usage: 17.8+ MB

In [114]:
# df['process_time']=df['to_date']-df['from_date']
# df['total_time']=df['process_time'].astype('timedelta64[D]')

In [115]:
#df=df.drop(columns=['total_time'])

In [116]:
df

,Current Status,f_year,f_month,f_day,z_94102.0,z_94103.0,z_94104.0,z_94105.0,z_94107.0,z_94108.0,...,sd_5.0,sd_6.0,sd_7.0,sd_8.0,sd_9.0,sd_10.0,sd_11.0,from_date,to_date,total_time
0,expired,2015,5,6,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2015-05-06,2015-11-09,187.0
1,issued,2016,4,19,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2016-04-19,2017-08-03,471.0
2,withdrawn,2016,5,27,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2016-05-27,NaT,NaN
3,complete,2016,11,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2016-11-07,2017-07-18,253.0
4,issued,2016,11,28,1,0,0,0,0,0,...,0,1,0,0,0,0,0,2016-11-28,2017-12-01,368.0
5,issued,2017,6,14,0,0,0,0,1,0,...,0,0,0,0,0,1,0,2017-06-14,2017-07-06,22.0
6,complete,2017,6,30,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2017-06-30,2017-06-30,0.0
7,issued,2017,6,30,0,0,0,0,0,0,...,0,0,0,0,0,1,0,2017-06-30,2017-06-30,0.0
8,issued,2017,7,5,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2017-07-05,2017-07-05,0.0
9,issued,2017,7,6,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2017-07-06,2017-07-06,0.0
10,issued,2017,7,6,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2017-07-06,2017-07-06,0.0
11,issued,2017,7,7,1,0,0,0,0,0,...,1,0,0,0,0,0,0,2017-07-07,2017-07-07,0.0
12,issued,2017,7,10,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2017-07-10,2017-07-10,0.0
13,filed,2017,7,25,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2017-07-25,NaT,NaN
14,issued,2017,7,26,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-07-26,2017-07-26,0.0
15,issued,2017,7,27,0,0,0,0,0,1,...,0,0,0,0,0,0,0,2017-07-27,2017-07-27,0.0
16,issued,2017,7,27,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2017-07-27,2017-07-27,0.0
17,issued,2017,7,27,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2017-07-27,2017-07-27,0.0
18,filed,2017,7,28,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-07-28,NaT,NaN
19,issued,2017,7,28,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2017-07-28,2017-07-28,0.0
20,issued,2017,7,31,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2017-07-31,2017-07-31,0.0
21,filed,2017,8,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,2017-08-01,NaT,NaN
22,filed,2017,8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-08-01,NaT,NaN
23,issued,2017,8,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-08-07,2017-08-07,0.0
24,issued,2017,8,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-08-08,2017-08-08,0.0
25,issued,2017,8,16,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-08-16,2017-08-16,0.0
26,issued,2017,8,18,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-08-18,2017-08-18,0.0
27,issued,2017,8,21,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2017-08-21,2017-08-21,0.0
28,issued,2017,8,21,0,0,0,0,0,0,...,0,0,1,0,0,0,0,2017-08-21,2017-08-21,0.0
29,issued,2017,8,22,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-08-22,2017-08-22,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198870,issued,2018,2,23,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2018-02-23,2018-02-23,0.0
198871,issued,2018,2,23,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2018-02-23,2018-02-23,0.0
198872,filed,2018,2,23,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2018-02-23,NaT,NaN
198873,issued,2018,2,23,0,0,0,0,0,0,...,0,0,0,0,1,0,0,2018-02-23,2018-02-23,0.0
198874,issued,2018,2,23,0,0,0,0,0,0,...,0,0,0,1,0,0,0,2018-02-23,2018-02-23,0.0
198875,filed,2018,2,23,1,0,0,0,0,0,...,1,0,0,0,0,0,0,2018-02-23,NaT,NaN
198876,issued,2018,2,23,0,0,0,0,0,0,...,1,0,0,0,0,0,0,2018-02-23,2018-02-23,0.0
198877,issued,2018,2,23,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198878,filed,2018,2,23,0,0,0,0,0,0,...,0,0,0,0,1,0,0,2018-02-23,NaT,NaN
198879,issued,2018,2,23,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198880,issued,2018,2,23,0,0,0,0,0,0,...,0,0,1,0,0,0,0,2018-02-23,2018-02-23,0.0
198881,issued,2018,2,23,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2018-02-23,2018-02-23,0.0
198882,issued,2018,2,23,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198883,issued,2018,2,23,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2018-02-23,2018-02-23,0.0
198884,filed,2018,2,23,0,1,0,0,0,0,...,0,1,0,0,0,0,0,2018-02-23,NaT,NaN
198885,filed,2018,2,23,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2018-02-23,NaT,NaN
198886,approved,2017,9,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-09-06,NaT,NaN
198887,complete,2017,10,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-10-04,2017-11-03,30.0
198888,complete,2017,10,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-10-11,2017-10-12,1.0
198889,complete,2017,10,24,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-10-24,2017-10-24,0.0
198890,filed,2017,11,27,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-11-27,NaT,NaN
198891,issued,2017,11,27,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-11-27,2017-12-08,11.0
198892,issued,2017,12,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-12-04,2018-01-16,43.0
198893,complete,2017,12,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-12-05,2017-12-05,0.0
198894,issued,2017,12,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-12-05,2017-12-05,0.0
198895,issued,2017,12,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-12-05,2017-12-05,0.0
198896,issued,2017,12,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-12-05,2017-12-06,1.0
198897,issued,2017,12,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-12-06,2017-12-06,0.0
198898,issued,2017,12,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-12-06,2017-12-06,0.0
198899,issued,2017,12,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017-12-07,2017-12-07,0.0

In [117]:
df=df.drop(columns=['from_date','to_date'])

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 43 columns):
Current Status    198900 non-null object
f_year            198900 non-null int64
f_month           198900 non-null int64
f_day             198900 non-null int64
z_94102.0         198900 non-null uint8
z_94103.0         198900 non-null uint8
z_94104.0         198900 non-null uint8
z_94105.0         198900 non-null uint8
z_94107.0         198900 non-null uint8
z_94108.0         198900 non-null uint8
z_94109.0         198900 non-null uint8
z_94110.0         198900 non-null uint8
z_94111.0         198900 non-null uint8
z_94112.0         198900 non-null uint8
z_94114.0         198900 non-null uint8
z_94115.0         198900 non-null uint8
z_94116.0         198900 non-null uint8
z_94117.0         198900 non-null uint8
z_94118.0         198900 non-null uint8
z_94121.0         198900 non-null uint8
z_94122.0         198900 non-null uint8
z_94123.0         198900 non-null uint8
z_94124.0         198900 non-null uint8
z_94127.0         198900 non-null uint8
z_94129.0         198900 non-null uint8
z_94130.0         198900 non-null uint8
z_94131.0         198900 non-null uint8
z_94132.0         198900 non-null uint8
z_94133.0         198900 non-null uint8
z_94134.0         198900 non-null uint8
z_94158.0         198900 non-null uint8
sd_1.0            198900 non-null uint8
sd_2.0            198900 non-null uint8
sd_3.0            198900 non-null uint8
sd_4.0            198900 non-null uint8
sd_5.0            198900 non-null uint8
sd_6.0            198900 non-null uint8
sd_7.0            198900 non-null uint8
sd_8.0            198900 non-null uint8
sd_9.0            198900 non-null uint8
sd_10.0           198900 non-null uint8
sd_11.0           198900 non-null uint8
total_time        183960 non-null float64
dtypes: float64(1), int64(3), object(1), uint8(38)
memory usage: 14.8+ MB

In [119]:
df_filed = df.loc[df['Current Status'].isin(['filed'])]
df_completed = df.loc[df['Current Status'].isin(['complete','issued'])]
df_completed=df_completed.drop(columns=['Current Status'])
df_filed=df_filed.drop(columns=['Current Status'])

In [120]:
#df_completed=df_completed[df_completed['to_date']!=1]

In [121]:
#df_completed=df_completed.drop(columns=['to_date'])

In [125]:
df_c2=df_completed.dropna()

In [126]:
df_c2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180618 entries, 1 to 198899
Data columns (total 42 columns):
f_year        180618 non-null int64
f_month       180618 non-null int64
f_day         180618 non-null int64
z_94102.0     180618 non-null uint8
z_94103.0     180618 non-null uint8
z_94104.0     180618 non-null uint8
z_94105.0     180618 non-null uint8
z_94107.0     180618 non-null uint8
z_94108.0     180618 non-null uint8
z_94109.0     180618 non-null uint8
z_94110.0     180618 non-null uint8
z_94111.0     180618 non-null uint8
z_94112.0     180618 non-null uint8
z_94114.0     180618 non-null uint8
z_94115.0     180618 non-null uint8
z_94116.0     180618 non-null uint8
z_94117.0     180618 non-null uint8
z_94118.0     180618 non-null uint8
z_94121.0     180618 non-null uint8
z_94122.0     180618 non-null uint8
z_94123.0     180618 non-null uint8
z_94124.0     180618 non-null uint8
z_94127.0     180618 non-null uint8
z_94129.0     180618 non-null uint8
z_94130.0     180618 non-null uint8
z_94131.0     180618 non-null uint8
z_94132.0     180618 non-null uint8
z_94133.0     180618 non-null uint8
z_94134.0     180618 non-null uint8
z_94158.0     180618 non-null uint8
sd_1.0        180618 non-null uint8
sd_2.0        180618 non-null uint8
sd_3.0        180618 non-null uint8
sd_4.0        180618 non-null uint8
sd_5.0        180618 non-null uint8
sd_6.0        180618 non-null uint8
sd_7.0        180618 non-null uint8
sd_8.0        180618 non-null uint8
sd_9.0        180618 non-null uint8
sd_10.0       180618 non-null uint8
sd_11.0       180618 non-null uint8
total_time    180618 non-null float64
dtypes: float64(1), int64(3), uint8(38)
memory usage: 13.4 MB

In [127]:
# ML Algorithm
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split

reg=linear_model.LinearRegression()
#reg = linear_model.LogisticRegression()

In [128]:
df_x=df_c2.drop(columns=['total_time'])
df_y=df_c2['total_time']

In [129]:
#df_x

In [130]:
x_train=df_x[:130618]
x_test=df_x[130618:]
y_train=df_y[:130618]
y_test=df_y[130618:]

In [131]:
model = reg.fit(x_train,y_train)

In [132]:
reg.coef_

array([ -1.70341312,   0.24795872,   0.10567324,  35.56974855,
        31.82000191,  13.57839702,  26.93052416,  34.97267555,
        25.32866737,  22.10930647,  27.2324359 ,  15.47619201,
        27.96672428,  28.15582884,  28.59041716,  24.31069523,
        23.86869119,  27.58017699,  27.82747598,  23.45612757,
        30.53423559,  55.05832556,  23.69972931,  16.31258591,
        27.10341199,  32.64847607,  31.6563801 ,  21.09734223,
        15.45039754,  34.73561341, -17.00560016, -15.62751795,
       -10.08778823, -15.44263625, -12.83139137, -16.2525849 ,
       -16.27612141, -12.99728982,  -9.36988929,  -7.01717337, -13.25848013])

In [133]:
a=reg.predict(x_test)

In [134]:
model.score(x_test,y_test)

0.0042551806796214953

In [135]:
from sklearn.metrics import mean_squared_error

In [136]:
mean_squared_error(y_test,a)

9585.0612063520675