In [1]:
import pandas as pd
import numpy as np

In [2]:
sf_permits = pd.read_csv("../dataset/building-permit-applications-data/Building_Permits.csv")

/home/neil/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = sf_permits[['Current Status','Filed Date','Issued Date','Zipcode','Supervisor District','Permit Type']]

In [47]:
sf_permits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 43 columns):
Permit Number                             198900 non-null object
Permit Type                               198900 non-null int64
Permit Type Definition                    198900 non-null object
Permit Creation Date                      198900 non-null object
Block                                     198900 non-null object
Lot                                       198900 non-null object
Street Number                             198900 non-null int64
Street Number Suffix                      2216 non-null object
Street Name                               198900 non-null object
Street Suffix                             196132 non-null object
Unit                                      29479 non-null float64
Unit Suffix                               1961 non-null object
Description                               198610 non-null object
Current Status                            198900 non-null object
Current Status Date                       198900 non-null object
Filed Date                                198900 non-null object
Issued Date                               183960 non-null object
Completed Date                            97191 non-null object
First Construction Document Date          183954 non-null object
Structural Notification                   6922 non-null object
Number of Existing Stories                156116 non-null float64
Number of Proposed Stories                156032 non-null float64
Voluntary Soft-Story Retrofit             35 non-null object
Fire Only Permit                          18827 non-null object
Permit Expiration Date                    147020 non-null object
Estimated Cost                            160834 non-null float64
Revised Cost                              192834 non-null float64
Existing Use                              157786 non-null object
Existing Units                            147362 non-null float64
Proposed Use                              156461 non-null object
Proposed Units                            147989 non-null float64
Plansets                                  161591 non-null float64
TIDF Compliance                           2 non-null object
Existing Construction Type                155534 non-null float64
Existing Construction Type Description    155534 non-null object
Proposed Construction Type                155738 non-null float64
Proposed Construction Type Description    155738 non-null object
Site Permit                               5359 non-null object
Supervisor District                       197183 non-null float64
Neighborhoods - Analysis Boundaries       197175 non-null object
Zipcode                                   197184 non-null float64
Location                                  197200 non-null object
Record ID                                 198900 non-null int64
dtypes: float64(12), int64(3), object(28)
memory usage: 65.3+ MB

In [5]:
zips = pd.get_dummies( df['Zipcode'] , prefix = 'z' )

In [6]:
df=pd.concat([df, zips], axis=1)
sds = pd.get_dummies( df['Supervisor District'] , prefix = 'sd' )
df=pd.concat([df, sds], axis=1)
df=df.drop(columns=['Zipcode','Supervisor District'])
pts = pd.get_dummies( df['Permit Type'] , prefix = 'pt' )
df=pd.concat([df, pts], axis=1)
df=df.drop(columns=['Permit Type'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 49 columns):
Current Status    198900 non-null object
Filed Date        198900 non-null object
Issued Date       183960 non-null object
z_94102.0         198900 non-null uint8
z_94103.0         198900 non-null uint8
z_94104.0         198900 non-null uint8
z_94105.0         198900 non-null uint8
z_94107.0         198900 non-null uint8
z_94108.0         198900 non-null uint8
z_94109.0         198900 non-null uint8
z_94110.0         198900 non-null uint8
z_94111.0         198900 non-null uint8
z_94112.0         198900 non-null uint8
z_94114.0         198900 non-null uint8
z_94115.0         198900 non-null uint8
z_94116.0         198900 non-null uint8
z_94117.0         198900 non-null uint8
z_94118.0         198900 non-null uint8
z_94121.0         198900 non-null uint8
z_94122.0         198900 non-null uint8
z_94123.0         198900 non-null uint8
z_94124.0         198900 non-null uint8
z_94127.0         198900 non-null uint8
z_94129.0         198900 non-null uint8
z_94130.0         198900 non-null uint8
z_94131.0         198900 non-null uint8
z_94132.0         198900 non-null uint8
z_94133.0         198900 non-null uint8
z_94134.0         198900 non-null uint8
z_94158.0         198900 non-null uint8
sd_1.0            198900 non-null uint8
sd_2.0            198900 non-null uint8
sd_3.0            198900 non-null uint8
sd_4.0            198900 non-null uint8
sd_5.0            198900 non-null uint8
sd_6.0            198900 non-null uint8
sd_7.0            198900 non-null uint8
sd_8.0            198900 non-null uint8
sd_9.0            198900 non-null uint8
sd_10.0           198900 non-null uint8
sd_11.0           198900 non-null uint8
pt_1              198900 non-null uint8
pt_2              198900 non-null uint8
pt_3              198900 non-null uint8
pt_4              198900 non-null uint8
pt_5              198900 non-null uint8
pt_6              198900 non-null uint8
pt_7              198900 non-null uint8
pt_8              198900 non-null uint8
dtypes: object(3), uint8(46)
memory usage: 13.3+ MB

In [8]:
df['from_date']=pd.to_datetime(df['Filed Date'])
df['to_date']=pd.to_datetime(df['Issued Date'])
#df['process_time']=df['to_date']-df['from_date']
#df['total_time']=df['process_time'].astype('timedelta64[D]')
#df=df.drop(columns=['process_time'])

df['process_time']=df['to_date']-df['from_date']
df['total_time']=df['process_time'].astype('timedelta64[D]')

df=df.drop(columns=['Filed Date','Issued Date','process_time'])

In [9]:
# import datetime as dt
# df['from_date']=df['from_date'].map(dt.datetime.toordinal)
# df['to_date']=df['to_date'].map(dt.datetime.toordinal)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 50 columns):
Current Status    198900 non-null object
z_94102.0         198900 non-null uint8
z_94103.0         198900 non-null uint8
z_94104.0         198900 non-null uint8
z_94105.0         198900 non-null uint8
z_94107.0         198900 non-null uint8
z_94108.0         198900 non-null uint8
z_94109.0         198900 non-null uint8
z_94110.0         198900 non-null uint8
z_94111.0         198900 non-null uint8
z_94112.0         198900 non-null uint8
z_94114.0         198900 non-null uint8
z_94115.0         198900 non-null uint8
z_94116.0         198900 non-null uint8
z_94117.0         198900 non-null uint8
z_94118.0         198900 non-null uint8
z_94121.0         198900 non-null uint8
z_94122.0         198900 non-null uint8
z_94123.0         198900 non-null uint8
z_94124.0         198900 non-null uint8
z_94127.0         198900 non-null uint8
z_94129.0         198900 non-null uint8
z_94130.0         198900 non-null uint8
z_94131.0         198900 non-null uint8
z_94132.0         198900 non-null uint8
z_94133.0         198900 non-null uint8
z_94134.0         198900 non-null uint8
z_94158.0         198900 non-null uint8
sd_1.0            198900 non-null uint8
sd_2.0            198900 non-null uint8
sd_3.0            198900 non-null uint8
sd_4.0            198900 non-null uint8
sd_5.0            198900 non-null uint8
sd_6.0            198900 non-null uint8
sd_7.0            198900 non-null uint8
sd_8.0            198900 non-null uint8
sd_9.0            198900 non-null uint8
sd_10.0           198900 non-null uint8
sd_11.0           198900 non-null uint8
pt_1              198900 non-null uint8
pt_2              198900 non-null uint8
pt_3              198900 non-null uint8
pt_4              198900 non-null uint8
pt_5              198900 non-null uint8
pt_6              198900 non-null uint8
pt_7              198900 non-null uint8
pt_8              198900 non-null uint8
from_date         198900 non-null datetime64[ns]
to_date           183960 non-null datetime64[ns]
total_time        183960 non-null float64
dtypes: datetime64[ns](2), float64(1), object(1), uint8(46)
memory usage: 14.8+ MB

In [11]:
# df['process_time']=df['to_date']-df['from_date']
# df['total_time']=df['process_time'].astype('timedelta64[D]')

In [12]:
#df=df.drop(columns=['total_time'])

In [13]:
df

,Current Status,z_94102.0,z_94103.0,z_94104.0,z_94105.0,z_94107.0,z_94108.0,z_94109.0,z_94110.0,z_94111.0,...,pt_2,pt_3,pt_4,pt_5,pt_6,pt_7,pt_8,from_date,to_date,total_time
0,expired,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,2015-05-06,2015-11-09,187.0
1,issued,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,2016-04-19,2017-08-03,471.0
2,withdrawn,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,2016-05-27,NaT,NaN
3,complete,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,2016-11-07,2017-07-18,253.0
4,issued,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,2016-11-28,2017-12-01,368.0
5,issued,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,2017-06-14,2017-07-06,22.0
6,complete,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-06-30,2017-06-30,0.0
7,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-06-30,2017-06-30,0.0
8,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-07-05,2017-07-05,0.0
9,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-07-06,2017-07-06,0.0
10,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-07-06,2017-07-06,0.0
11,issued,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-07-07,2017-07-07,0.0
12,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-07-10,2017-07-10,0.0
13,filed,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-07-25,NaT,NaN
14,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-07-26,2017-07-26,0.0
15,issued,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,2017-07-27,2017-07-27,0.0
16,issued,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-07-27,2017-07-27,0.0
17,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-07-27,2017-07-27,0.0
18,filed,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-07-28,NaT,NaN
19,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-07-28,2017-07-28,0.0
20,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-07-31,2017-07-31,0.0
21,filed,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,2017-08-01,NaT,NaN
22,filed,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,2017-08-01,NaT,NaN
23,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-08-07,2017-08-07,0.0
24,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-08-08,2017-08-08,0.0
25,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-08-16,2017-08-16,0.0
26,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-08-18,2017-08-18,0.0
27,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-08-21,2017-08-21,0.0
28,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-08-21,2017-08-21,0.0
29,issued,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-08-22,2017-08-22,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198870,issued,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198871,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198872,filed,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,NaT,NaN
198873,issued,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198874,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198875,filed,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,NaT,NaN
198876,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198877,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198878,filed,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,2018-02-23,NaT,NaN
198879,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198880,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198881,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198882,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198883,issued,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,2018-02-23,0.0
198884,filed,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,NaT,NaN
198885,filed,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2018-02-23,NaT,NaN
198886,approved,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,2017-09-06,NaT,NaN
198887,complete,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-10-04,2017-11-03,30.0
198888,complete,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-10-11,2017-10-12,1.0
198889,complete,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-10-24,2017-10-24,0.0
198890,filed,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,2017-11-27,NaT,NaN
198891,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-11-27,2017-12-08,11.0
198892,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-12-04,2018-01-16,43.0
198893,complete,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-12-05,2017-12-05,0.0
198894,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-12-05,2017-12-05,0.0
198895,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-12-05,2017-12-05,0.0
198896,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-12-05,2017-12-06,1.0
198897,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-12-06,2017-12-06,0.0
198898,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-12-06,2017-12-06,0.0
198899,issued,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,2017-12-07,2017-12-07,0.0

In [14]:
df=df.drop(columns=['from_date','to_date'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 48 columns):
Current Status    198900 non-null object
z_94102.0         198900 non-null uint8
z_94103.0         198900 non-null uint8
z_94104.0         198900 non-null uint8
z_94105.0         198900 non-null uint8
z_94107.0         198900 non-null uint8
z_94108.0         198900 non-null uint8
z_94109.0         198900 non-null uint8
z_94110.0         198900 non-null uint8
z_94111.0         198900 non-null uint8
z_94112.0         198900 non-null uint8
z_94114.0         198900 non-null uint8
z_94115.0         198900 non-null uint8
z_94116.0         198900 non-null uint8
z_94117.0         198900 non-null uint8
z_94118.0         198900 non-null uint8
z_94121.0         198900 non-null uint8
z_94122.0         198900 non-null uint8
z_94123.0         198900 non-null uint8
z_94124.0         198900 non-null uint8
z_94127.0         198900 non-null uint8
z_94129.0         198900 non-null uint8
z_94130.0         198900 non-null uint8
z_94131.0         198900 non-null uint8
z_94132.0         198900 non-null uint8
z_94133.0         198900 non-null uint8
z_94134.0         198900 non-null uint8
z_94158.0         198900 non-null uint8
sd_1.0            198900 non-null uint8
sd_2.0            198900 non-null uint8
sd_3.0            198900 non-null uint8
sd_4.0            198900 non-null uint8
sd_5.0            198900 non-null uint8
sd_6.0            198900 non-null uint8
sd_7.0            198900 non-null uint8
sd_8.0            198900 non-null uint8
sd_9.0            198900 non-null uint8
sd_10.0           198900 non-null uint8
sd_11.0           198900 non-null uint8
pt_1              198900 non-null uint8
pt_2              198900 non-null uint8
pt_3              198900 non-null uint8
pt_4              198900 non-null uint8
pt_5              198900 non-null uint8
pt_6              198900 non-null uint8
pt_7              198900 non-null uint8
pt_8              198900 non-null uint8
total_time        183960 non-null float64
dtypes: float64(1), object(1), uint8(46)
memory usage: 11.8+ MB

In [16]:
df_filed = df.loc[df['Current Status'].isin(['filed'])]
df_completed = df.loc[df['Current Status'].isin(['complete','issued'])]
df_completed=df_completed.drop(columns=['Current Status'])
df_filed=df_filed.drop(columns=['Current Status'])

In [17]:
#df_completed=df_completed[df_completed['to_date']!=1]

In [18]:
#df_completed=df_completed.drop(columns=['to_date'])

In [19]:
df_c2=df_completed.dropna()

In [20]:
df_c2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180618 entries, 1 to 198899
Data columns (total 47 columns):
z_94102.0     180618 non-null uint8
z_94103.0     180618 non-null uint8
z_94104.0     180618 non-null uint8
z_94105.0     180618 non-null uint8
z_94107.0     180618 non-null uint8
z_94108.0     180618 non-null uint8
z_94109.0     180618 non-null uint8
z_94110.0     180618 non-null uint8
z_94111.0     180618 non-null uint8
z_94112.0     180618 non-null uint8
z_94114.0     180618 non-null uint8
z_94115.0     180618 non-null uint8
z_94116.0     180618 non-null uint8
z_94117.0     180618 non-null uint8
z_94118.0     180618 non-null uint8
z_94121.0     180618 non-null uint8
z_94122.0     180618 non-null uint8
z_94123.0     180618 non-null uint8
z_94124.0     180618 non-null uint8
z_94127.0     180618 non-null uint8
z_94129.0     180618 non-null uint8
z_94130.0     180618 non-null uint8
z_94131.0     180618 non-null uint8
z_94132.0     180618 non-null uint8
z_94133.0     180618 non-null uint8
z_94134.0     180618 non-null uint8
z_94158.0     180618 non-null uint8
sd_1.0        180618 non-null uint8
sd_2.0        180618 non-null uint8
sd_3.0        180618 non-null uint8
sd_4.0        180618 non-null uint8
sd_5.0        180618 non-null uint8
sd_6.0        180618 non-null uint8
sd_7.0        180618 non-null uint8
sd_8.0        180618 non-null uint8
sd_9.0        180618 non-null uint8
sd_10.0       180618 non-null uint8
sd_11.0       180618 non-null uint8
pt_1          180618 non-null uint8
pt_2          180618 non-null uint8
pt_3          180618 non-null uint8
pt_4          180618 non-null uint8
pt_5          180618 non-null uint8
pt_6          180618 non-null uint8
pt_7          180618 non-null uint8
pt_8          180618 non-null uint8
total_time    180618 non-null float64
dtypes: float64(1), uint8(46)
memory usage: 10.7 MB

In [31]:
# ML Algorithm
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split

reg=linear_model.LinearRegression()
#reg = linear_model.LogisticRegression()

In [32]:
df_x=df_c2.drop(columns=['total_time'])
df_y=df_c2['total_time']

In [33]:
#df_x

In [34]:
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y,test_size=0.3,random_state=4)
# x_train=df_x[:130618]
# x_test=df_x[130618:]
# y_train=df_y[:130618]
# y_test=df_y[130618:]

In [35]:
model = reg.fit(x_train,y_train)

In [36]:
reg.coef_

array([  1.34064454e+01,   1.05012102e+01,   3.78009485e+00,
         1.03133244e+01,   1.19826014e+01,   8.87131152e+00,
         1.03810367e+01,   9.64455524e+00,   2.81729788e+00,
         3.87320946e+00,   1.03972978e+01,   1.01001455e+01,
         1.15323232e+01,   1.16596413e+01,   1.30143475e+01,
         1.53929906e+01,   1.23180944e+01,   1.26781243e+01,
        -4.35519021e+00,   1.15229038e+01,  -3.67832900e+00,
         3.27347872e+00,   1.21642461e+01,  -8.67556281e+00,
         7.63956410e+00,   5.89195097e+00,  -4.92454155e+00,
        -6.60322403e+00,  -6.39603935e+00,  -2.80512229e-01,
        -5.32401089e+00,  -5.44415677e+00,  -7.82835556e+00,
        -7.17589149e+00,  -3.78365535e+00,  -8.48407100e-01,
        -2.00313336e+00,   5.60510180e+00,   4.74825747e+11,
         4.74825747e+11,   4.74825747e+11,   4.74825747e+11,
         4.74825747e+11,   4.74825747e+11,   4.74825747e+11,
         4.74825747e+11])

In [37]:
a=reg.predict(x_test)

In [38]:
model.score(x_test,y_test)

0.4329365419160186

In [39]:
from sklearn.metrics import mean_squared_error

In [53]:
qw = mean_squared_error(y_test,a)/1000

In [54]:
y_test

120304     49.0
197752      0.0
3355        0.0
167464     77.0
141547      0.0
104538     42.0
114111      0.0
107756    153.0
171791    224.0
148512      0.0
39411       0.0
76948       0.0
188912     18.0
7431        0.0
87955      12.0
151913      0.0
9580        0.0
181705      0.0
81916      28.0
159298      0.0
69241      42.0
180708      0.0
156019      0.0
120018      0.0
12921       6.0
4910        0.0
57014       0.0
9413        0.0
106768      0.0
9872        0.0
          ...
37164       0.0
99588       0.0
148471      0.0
185983      0.0
98364      49.0
51503       0.0
103362      0.0
139328     30.0
54702       0.0
22915       1.0
52239       0.0
136347     17.0
66565      10.0
44256       0.0
70908      35.0
37028       0.0
111067      0.0
113428      0.0
120301     59.0
42937       7.0
125736      1.0
115806      0.0
50410       0.0
138387      0.0
84393       0.0
78688       0.0
176934      0.0
16976       0.0
25845       0.0
134485      0.0
Name: total_time, Length: 54186, dtype: float64

In [55]:
a

array([ 12.05615234,  13.08392334,  13.31848145, ...,  11.72460938,
        14.9208374 ,  11.72460938])

In [56]:
qw

4.3924149494056097