In [9]:
import pandas as pd
import numpy as np

In [10]:
sf_permits = pd.read_csv("../dataset/building-permit-applications-data/Building_Permits.csv")

/home/neil/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
sf_pemits2 = sf_permits.drop(columns=['Permit Number','Permit Type Definition','Block','Lot','Street Number','Street Number Suffix','Street Name','Street Suffix','Unit','Unit Suffix','Description','Structural Notification','Number of Existing Stories','Number of Proposed Stories','Voluntary Soft-Story Retrofit','Fire Only Permit','Existing Use','Existing Units','Proposed Use','Proposed Units','Plansets','TIDF Compliance','Existing Construction Type','Existing Construction Type Description','Proposed Construction Type','Proposed Construction Type Description','Site Permit','Zipcode','Location','Record ID'])

In [13]:
sf_pemits2

,Permit Type,Permit Creation Date,Current Status,Current Status Date,Filed Date,Issued Date,Completed Date,First Construction Document Date,Permit Expiration Date,Estimated Cost,Revised Cost,Supervisor District,Neighborhoods - Analysis Boundaries
0,4,05/06/2015,expired,12/21/2017,05/06/2015,11/09/2015,NaN,11/09/2015,11/03/2016,4000.00,4000.00,3.0,Tenderloin
1,4,04/19/2016,issued,08/03/2017,04/19/2016,08/03/2017,NaN,08/03/2017,12/03/2017,1.00,500.00,3.0,Tenderloin
2,3,05/27/2016,withdrawn,09/26/2017,05/27/2016,NaN,NaN,NaN,NaN,20000.00,NaN,3.0,Russian Hill
3,8,11/07/2016,complete,07/24/2017,11/07/2016,07/18/2017,07/24/2017,07/18/2017,07/13/2018,2000.00,2000.00,3.0,Nob Hill
4,6,11/28/2016,issued,12/01/2017,11/28/2016,12/01/2017,NaN,11/20/2017,12/01/2018,100000.00,100000.00,6.0,Tenderloin
5,8,06/14/2017,issued,07/06/2017,06/14/2017,07/06/2017,NaN,07/06/2017,07/01/2018,4000.00,4000.00,10.0,Potrero Hill
6,8,06/30/2017,complete,07/12/2017,06/30/2017,06/30/2017,07/12/2017,06/30/2017,06/25/2018,12000.00,12000.00,5.0,Inner Sunset
7,8,06/30/2017,issued,06/30/2017,06/30/2017,06/30/2017,NaN,06/30/2017,NaN,NaN,0.00,10.0,Bayview Hunters Point
8,8,07/05/2017,issued,07/05/2017,07/05/2017,07/05/2017,NaN,07/05/2017,NaN,NaN,1.00,5.0,Lone Mountain/USF
9,8,07/06/2017,issued,07/06/2017,07/06/2017,07/06/2017,NaN,07/06/2017,NaN,NaN,0.00,8.0,Haight Ashbury
10,8,07/06/2017,issued,07/06/2017,07/06/2017,07/06/2017,NaN,07/06/2017,NaN,NaN,1.00,8.0,Castro/Upper Market
11,8,07/07/2017,issued,07/07/2017,07/07/2017,07/07/2017,NaN,07/07/2017,NaN,NaN,1.00,5.0,Hayes Valley
12,8,07/10/2017,issued,07/10/2017,07/10/2017,07/10/2017,NaN,07/10/2017,NaN,NaN,1.00,8.0,Noe Valley
13,8,07/25/2017,filed,07/25/2017,07/25/2017,NaN,NaN,NaN,NaN,30000.00,0.00,8.0,Noe Valley
14,8,07/26/2017,issued,07/26/2017,07/26/2017,07/26/2017,NaN,07/26/2017,NaN,NaN,1.00,2.0,Pacific Heights
15,8,07/27/2017,issued,07/27/2017,07/27/2017,07/27/2017,NaN,07/27/2017,NaN,NaN,1.00,3.0,Chinatown
16,8,07/27/2017,issued,07/27/2017,07/27/2017,07/27/2017,NaN,07/27/2017,NaN,NaN,1.00,3.0,Financial District/South Beach
17,8,07/27/2017,issued,07/27/2017,07/27/2017,07/27/2017,NaN,07/27/2017,NaN,NaN,1.00,8.0,Noe Valley
18,8,07/28/2017,filed,07/28/2017,07/28/2017,NaN,NaN,NaN,NaN,75000.00,0.00,2.0,Marina
19,8,07/28/2017,issued,07/28/2017,07/28/2017,07/28/2017,NaN,07/28/2017,NaN,NaN,1.00,8.0,Castro/Upper Market
20,8,07/31/2017,issued,07/31/2017,07/31/2017,07/31/2017,NaN,07/31/2017,NaN,NaN,1.00,5.0,Lone Mountain/USF
21,8,08/01/2017,filed,08/01/2017,08/01/2017,NaN,NaN,NaN,NaN,100000.00,0.00,9.0,Mission
22,3,08/01/2017,filed,08/01/2017,08/01/2017,NaN,NaN,NaN,NaN,100000.00,NaN,3.0,Russian Hill
23,8,08/07/2017,issued,08/07/2017,08/07/2017,08/07/2017,NaN,08/07/2017,NaN,NaN,1.00,2.0,Marina
24,8,08/08/2017,issued,08/08/2017,08/08/2017,08/08/2017,NaN,08/08/2017,08/08/2018,64650.00,64650.00,2.0,Marina
25,8,08/16/2017,issued,08/16/2017,08/16/2017,08/16/2017,NaN,08/16/2017,02/16/2018,7000.00,7000.00,4.0,Sunset/Parkside
26,8,08/18/2017,issued,08/18/2017,08/18/2017,08/18/2017,NaN,08/18/2017,NaN,NaN,1.00,1.0,Outer Richmond
27,8,08/21/2017,issued,08/21/2017,08/21/2017,08/21/2017,NaN,08/21/2017,NaN,NaN,1.00,5.0,Lone Mountain/USF
28,8,08/21/2017,issued,08/21/2017,08/21/2017,08/21/2017,NaN,08/21/2017,NaN,NaN,1.00,7.0,Inner Sunset
29,8,08/22/2017,issued,08/22/2017,08/22/2017,08/22/2017,NaN,08/22/2017,NaN,NaN,1.00,3.0,Tenderloin
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198870,8,02/23/2018,issued,02/23/2018,02/23/2018,02/23/2018,NaN,02/23/2018,NaN,NaN,1.00,2.0,Russian Hill
198871,8,02/23/2018,issued,02/23/2018,02/23/2018,02/23/2018,NaN,02/23/2018,NaN,NaN,1.00,5.0,Haight Ashbury
198872,8,02/23/2018,filed,02/23/2018,02/23/2018,NaN,NaN,NaN,NaN,10000.00,0.00,8.0,Castro/Upper Market
198873,8,02/23/2018,issued,02/23/2018,02/23/2018,02/23/2018,NaN,02/23/2018,06/23/2018,1.00,1.00,9.0,Bernal Heights
198874,8,02/23/2018,issued,02/23/2018,02/23/2018,02/23/2018,NaN,02/23/2018,08/23/2018,10000.00,15000.00,8.0,Noe Valley
198875,8,02/23/2018,filed,02/23/2018,02/23/2018,NaN,NaN,NaN,NaN,1.00,0.00,5.0,Hayes Valley
198876,8,02/23/2018,issued,02/23/2018,02/23/2018,02/23/2018,NaN,02/23/2018,NaN,NaN,0.00,5.0,Lone Mountain/USF
198877,8,02/23/2018,issued,02/23/2018,02/23/2018,02/23/2018,NaN,02/23/2018,06/23/2018,1000.00,1000.00,11.0,Oceanview/Merced/Ingleside
198878,8,02/23/2018,filed,02/23/2018,02/23/2018,NaN,NaN,NaN,NaN,20000.00,0.00,9.0,Mission
198879,8,02/23/2018,issued,02/23/2018,02/23/2018,02/23/2018,NaN,02/23/2018,08/23/2018,18453.12,18453.12,11.0,Excelsior
198880,8,02/23/2018,issued,02/23/2018,02/23/2018,02/23/2018,NaN,02/23/2018,NaN,NaN,1.00,7.0,Inner Sunset
198881,8,02/23/2018,issued,02/23/2018,02/23/2018,02/23/2018,NaN,02/23/2018,NaN,NaN,1.00,3.0,North Beach
198882,8,02/23/2018,issued,02/23/2018,02/23/2018,02/23/2018,NaN,02/23/2018,06/23/2018,1.00,1.00,11.0,Excelsior
198883,8,02/23/2018,issued,02/23/2018,02/23/2018,02/23/2018,NaN,02/23/2018,NaN,NaN,1.00,3.0,Tenderloin
198884,8,02/23/2018,filed,02/23/2018,02/23/2018,NaN,NaN,NaN,NaN,NaN,1.00,6.0,Mission
198885,8,02/23/2018,filed,02/23/2018,02/23/2018,NaN,NaN,NaN,NaN,5000.00,0.00,4.0,Sunset/Parkside
198886,3,09/06/2017,approved,01/11/2018,09/06/2017,NaN,NaN,NaN,NaN,65000.00,65000.00,NaN,NaN
198887,8,10/04/2017,complete,12/06/2017,10/04/2017,11/03/2017,12/06/2017,11/03/2017,11/03/2018,30000.00,30000.00,NaN,NaN
198888,8,10/11/2017,complete,12/07/2017,10/11/2017,10/12/2017,12/07/2017,10/12/2017,10/12/2018,18000.00,30000.00,NaN,NaN
198889,8,10/24/2017,complete,12/05/2017,10/24/2017,10/24/2017,12/05/2017,10/24/2017,04/24/2018,20000.00,20000.00,NaN,NaN
198890,3,11/27/2017,filed,11/27/2017,11/27/2017,NaN,NaN,NaN,NaN,750000.00,750000.00,NaN,NaN
198891,8,11/27/2017,issued,12/08/2017,11/27/2017,12/08/2017,NaN,12/08/2017,04/08/2018,1.00,1.00,NaN,NaN
198892,8,12/04/2017,issued,01/16/2018,12/04/2017,01/16/2018,NaN,01/16/2018,01/16/2019,55000.00,38000.00,NaN,NaN
198893,8,12/05/2017,complete,01/22/2018,12/05/2017,12/05/2017,01/22/2018,12/05/2017,04/05/2018,2800.00,2800.00,NaN,NaN
198894,8,12/05/2017,issued,12/05/2017,12/05/2017,12/05/2017,NaN,12/05/2017,06/05/2018,7400.00,7400.00,NaN,NaN
198895,8,12/05/2017,issued,12/05/2017,12/05/2017,12/05/2017,NaN,12/05/2017,NaN,NaN,1.00,NaN,NaN
198896,8,12/05/2017,issued,12/06/2017,12/05/2017,12/06/2017,NaN,12/06/2017,04/06/2018,5000.00,5000.00,NaN,NaN
198897,8,12/06/2017,issued,12/06/2017,12/06/2017,12/06/2017,NaN,12/06/2017,NaN,NaN,1.00,NaN,NaN
198898,8,12/06/2017,issued,12/06/2017,12/06/2017,12/06/2017,NaN,12/06/2017,NaN,NaN,1.00,NaN,NaN
198899,8,12/07/2017,issued,12/07/2017,12/07/2017,12/07/2017,NaN,12/07/2017,NaN,NaN,1.00,NaN,NaN

In [14]:
sf_pemits2['Current Status']

0           expired
1            issued
2         withdrawn
3          complete
4            issued
5            issued
6          complete
7            issued
8            issued
9            issued
10           issued
11           issued
12           issued
13            filed
14           issued
15           issued
16           issued
17           issued
18            filed
19           issued
20           issued
21            filed
22            filed
23           issued
24           issued
25           issued
26           issued
27           issued
28           issued
29           issued
            ...
198870       issued
198871       issued
198872        filed
198873       issued
198874       issued
198875        filed
198876       issued
198877       issued
198878        filed
198879       issued
198880       issued
198881       issued
198882       issued
198883       issued
198884        filed
198885        filed
198886     approved
198887     complete
198888     complete
198889     complete
198890        filed
198891       issued
198892       issued
198893     complete
198894       issued
198895       issued
198896       issued
198897       issued
198898       issued
198899       issued
Name: Current Status, Length: 198900, dtype: object

In [16]:
df2 = sf_pemits2.loc[sf_pemits2['Current Status'].isin(['issued','complete'])]

In [18]:
df2['Current Status']

1           issued
3         complete
4           issued
5           issued
6         complete
7           issued
8           issued
9           issued
10          issued
11          issued
12          issued
14          issued
15          issued
16          issued
17          issued
19          issued
20          issued
23          issued
24          issued
25          issued
26          issued
27          issued
28          issued
29          issued
30          issued
31          issued
32          issued
34          issued
35          issued
36          issued
            ...
198858      issued
198861      issued
198863      issued
198865      issued
198867      issued
198868      issued
198869      issued
198870      issued
198871      issued
198873      issued
198874      issued
198876      issued
198877      issued
198879      issued
198880      issued
198881      issued
198882      issued
198883      issued
198887    complete
198888    complete
198889    complete
198891      issued
198892      issued
198893    complete
198894      issued
198895      issued
198896      issued
198897      issued
198898      issued
198899      issued
Name: Current Status, Length: 180636, dtype: object

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180636 entries, 1 to 198899
Data columns (total 13 columns):
Permit Type                            180636 non-null int64
Permit Creation Date                   180636 non-null object
Current Status                         180636 non-null object
Current Status Date                    180636 non-null object
Filed Date                             180636 non-null object
Issued Date                            180618 non-null object
Completed Date                         97130 non-null object
First Construction Document Date       180587 non-null object
Permit Expiration Date                 143748 non-null object
Estimated Cost                         143662 non-null float64
Revised Cost                           180625 non-null float64
Supervisor District                    178999 non-null float64
Neighborhoods - Analysis Boundaries    178992 non-null object
dtypes: float64(3), int64(1), object(9)
memory usage: 24.3+ MB

In [22]:
missing = df2.isnull().sum()

In [23]:
missing

Permit Type                                0
Permit Creation Date                       0
Current Status                             0
Current Status Date                        0
Filed Date                                 0
Issued Date                               18
Completed Date                         83506
First Construction Document Date          49
Permit Expiration Date                 36888
Estimated Cost                         36974
Revised Cost                              11
Supervisor District                     1637
Neighborhoods - Analysis Boundaries     1644
dtype: int64

In [24]:
df3 = df2.drop(columns=['Completed Date','Permit Expiration Date','Estimated Cost'])

In [26]:
missing2 = df3.isnull().sum()

In [27]:
missing2

Permit Type                               0
Permit Creation Date                      0
Current Status                            0
Current Status Date                       0
Filed Date                                0
Issued Date                              18
First Construction Document Date         49
Revised Cost                             11
Supervisor District                    1637
Neighborhoods - Analysis Boundaries    1644
dtype: int64

In [28]:
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [29]:
reg=linear_model.LinearRegression()

In [33]:
df4 = df3[pd.notnull(df3['Issued Date'])]

In [34]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180618 entries, 1 to 198899
Data columns (total 10 columns):
Permit Type                            180618 non-null int64
Permit Creation Date                   180618 non-null object
Current Status                         180618 non-null object
Current Status Date                    180618 non-null object
Filed Date                             180618 non-null object
Issued Date                            180618 non-null object
First Construction Document Date       180586 non-null object
Revised Cost                           180609 non-null float64
Supervisor District                    178981 non-null float64
Neighborhoods - Analysis Boundaries    178974 non-null object
dtypes: float64(2), int64(1), object(7)
memory usage: 15.2+ MB

In [55]:
import time
import datetime
df4['Permit Creation Date22'] = time.mktime(datetime.datetime.strptime(df4['Permit Creation Date'], "%m%d%Y").timetuple())

TypeError: strptime() argument 1 must be str, not Series

In [56]:
import datetime as dt
df4['Permit Creation Date'] = pd.to_datetime(df4['Permit Creation Date'])
df4['Permit Creation Date66']=df4['Permit Creation Date'].map(dt.datetime.toordinal)

/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [59]:
df4['Permit Creation Date66']

1         736073
3         736275
4         736296
5         736494
6         736510
7         736510
8         736515
9         736516
10        736516
11        736517
12        736520
14        736536
15        736537
16        736537
17        736537
19        736538
20        736541
23        736548
24        736549
25        736557
26        736559
27        736562
28        736562
29        736563
30        736564
31        736564
32        736564
34        736566
35        736566
36        736569
           ...
198858    736748
198861    736748
198863    736748
198865    736748
198867    736748
198868    736748
198869    736748
198870    736748
198871    736748
198873    736748
198874    736748
198876    736748
198877    736748
198879    736748
198880    736748
198881    736748
198882    736748
198883    736748
198887    736606
198888    736613
198889    736626
198891    736660
198892    736667
198893    736668
198894    736668
198895    736668
198896    736668
198897    736669
198898    736669
198899    736670
Name: Permit Creation Date66, Length: 180618, dtype: int64

In [61]:
status = pd.Series(np.where(df4['Current Status']=='issued',1,0),name='Current Status')

In [62]:
status

0         1
1         0
2         1
3         1
4         0
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
180588    1
180589    1
180590    1
180591    1
180592    1
180593    1
180594    1
180595    1
180596    1
180597    1
180598    1
180599    1
180600    1
180601    1
180602    1
180603    1
180604    1
180605    1
180606    0
180607    0
180608    0
180609    1
180610    1
180611    0
180612    1
180613    1
180614    1
180615    1
180616    1
180617    1
Name: Current Status, Length: 180618, dtype: int64

In [63]:
import datetime as dt
df4['Current Status Date'] = pd.to_datetime(df4['Current Status Date'])
df4['Current Status Date66']=df4['Current Status Date'].map(dt.datetime.toordinal)

/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [64]:
df4['Current Status Date66']

1         736544
3         736534
4         736664
5         736516
6         736522
7         736510
8         736515
9         736516
10        736516
11        736517
12        736520
14        736536
15        736537
16        736537
17        736537
19        736538
20        736541
23        736548
24        736549
25        736557
26        736559
27        736562
28        736562
29        736563
30        736564
31        736564
32        736564
34        736566
35        736566
36        736569
           ...
198858    736748
198861    736748
198863    736748
198865    736748
198867    736748
198868    736748
198869    736748
198870    736748
198871    736748
198873    736748
198874    736748
198876    736748
198877    736748
198879    736748
198880    736748
198881    736748
198882    736748
198883    736748
198887    736669
198888    736670
198889    736668
198891    736671
198892    736710
198893    736716
198894    736668
198895    736668
198896    736669
198897    736669
198898    736669
198899    736670
Name: Current Status Date66, Length: 180618, dtype: int64

In [65]:
df4['Filed Date'] = pd.to_datetime(df4['Filed Date'])
df4['Filed Date66']=df4['Filed Date'].map(dt.datetime.toordinal)

/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/neil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [66]:
df4['Filed Date66']

1         736073
3         736275
4         736296
5         736494
6         736510
7         736510
8         736515
9         736516
10        736516
11        736517
12        736520
14        736536
15        736537
16        736537
17        736537
19        736538
20        736541
23        736548
24        736549
25        736557
26        736559
27        736562
28        736562
29        736563
30        736564
31        736564
32        736564
34        736566
35        736566
36        736569
           ...
198858    736748
198861    736748
198863    736748
198865    736748
198867    736748
198868    736748
198869    736748
198870    736748
198871    736748
198873    736748
198874    736748
198876    736748
198877    736748
198879    736748
198880    736748
198881    736748
198882    736748
198883    736748
198887    736606
198888    736613
198889    736626
198891    736660
198892    736667
198893    736668
198894    736668
198895    736668
198896    736668
198897    736669
198898    736669
198899    736670
Name: Filed Date66, Length: 180618, dtype: int64

In [ ]:
d

In [46]:
df_x=df4[['Permit Type','Permit Creation Date','Current Status','Current Status Date','Filed Date','First Construction Document Date','Revised Cost','Supervisor District','Neighborhoods - Analysis Boundaries']].copy()
df_y=df4['Issued Date']

In [47]:
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y,test_size=0.2,random_state=4)

In [38]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144494 entries, 57101 to 123765
Data columns (total 9 columns):
Permit Type                            144494 non-null int64
Permit Creation Date                   144494 non-null object
Current Status                         144494 non-null object
Current Status Date                    144494 non-null object
Filed Date                             144494 non-null object
First Construction Document Date       144469 non-null object
Revised Cost                           144488 non-null float64
Supervisor District                    143185 non-null float64
Neighborhoods - Analysis Boundaries    143180 non-null object
dtypes: float64(2), int64(1), object(6)
memory usage: 11.0+ MB

In [49]:
#x_train['Neighborhoods - Analysis Boundaries'] = x_train['Neighborhoods - Analysis Boundaries'].astype('String')

In [50]:
reg.fit(x_train,y_train)

ValueError: could not convert string to float: 'Castro/Upper Market'